extends layout 
 
block content 
  h1= title 
 
  form(id='jarForm', action="/resource/jar", method="POST") 
    div.form-group 
        label.jarAttr(for='length') jar length 
        input#length(type='number', name='length') 
    div.form-group 
        label.jarAttr(for='height') jar height
        input#height(type='number', name='height') 
    div.form-group 
        label.jarAttr(for='weight') jar weight 
        input#weight(type='number', name='weight') 
    input(type="submit") 
 
  script. 
    document.forms['jarForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 